@media (max-width:700px) {

    .banner {
        background-color: #FF9500;
        color: #FFFFFF;
        width: 100%;
        height: 7vh;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 3vw;
        gap: 1vh;

    }



    .nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        /* background-color: red; */
        padding: 10px 30px;
        width: 100%;
    }

    .nav-left {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3vw;
    }

    .nav-left img {
        background-color: #FF9500;
        border-radius: 10px;
        height: auto;
        width: 40px;
    }

    .navlinks {
        display: none;

    }

    .navlinks li {
        list-style: none;
        color: #262626;

    }

    .gray-bg {
        border-radius: 6px;
        background: var(--White-95, #F1F1F3);
        padding: 18px 30px;
    }


    .nav-rigth {
        display: flex;
        align-items: flex-start;


    }

    .nav-right img {
        display: inline-block;
        height: auto;
        width: 25px;
    }


    .primary-btn {
        padding: 12px 25px;
        border: none;
        border-radius: 4px;
        text-transform: capitalize;
        font-size: 14px;
        color: black;
        background-color: white;
    }

    .secondary-btn {
        padding: 12px 25px;
        border: none;
        border-radius: 4px;
        background-color: #FF9500;
        text-transform: capitalize;
        font-size: 14px;
        color: white;
    }


    /* Page1 */

    .page1 {
        min-height: 40vh;
        width: 100%;
        /* background-color: crimson; */
        display: flex;
        justify-content: center;
        text-align: center;

    }

    .page1-content {
        /* background-color: green; */
        padding-top: 10vh;
        display: flex;
        flex-direction: column;
        gap: 2vw;
        align-items: center;
    }


    .page1-content h1 img {
        background-color: #FFF4E5;
        color: #262626;
        height: auto;
        width: 12vw;
    }

    .page1-content h1 {
        font-size: 5vw;
        display: flex;
        align-items: center;
        justify-content: center;
        /* background-color: whitesmoke; */
    }

    .page1-content h2 {
        width: 80%;
        color: #262626;
        font-size: 7vw;
    }

    .page1-content h3 {
        color: #262626c7;
        font-size: 4vw;
        width: 80%;
    }

    .page1-btns {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3vw;
        margin-top: 3vw;

    }

    .page1-btn1 {
        font-size: 4.7vw;
        border: none;
        background-color: #FF9500;
        border-radius: 5px;
        color: white;
        font-weight: 600;
        padding: 3.7vw 5vw;
    }


    .page1-btn2 {
        font-size: 4.7vw;
        border: none;
        background-color: whitesmoke;
        border-radius: 5px;
        color: #262626;
        font-weight: 500;
        padding: 3.7vw 5vw;
    }

    /* companies-banner */
    .companies-banner {
        /* background-color: slateblue; */
        min-height: 20vh;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .banner-container {
        width: 60%;
        height: 9vh;
        background-color: white;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: space-around;

    }

    .banner-container :nth-child(2) {
        display: none;
    }

    .banner-container :nth-child(3) {
        display: none;
    }

    .banner-container :nth-child(4) {
        display: none;
    }

    .banner-container :nth-child(5) {
        display: none;
    }

    .banner-container :nth-child(6) {
        display: none;
    }

    .banner-container img {
        height: auto;
        width: 20vw;

    }

    .banner-card {
        border-right: 0px solid #4C4C4D;
        /* background-color: red; */
        padding: 0.2vw 1vw;
    }


    .page2 {
        min-height: 30vh;
        width: 100%;
        /* background-color: salmon; */
        display: flex;
        align-items: start;
        justify-content: center;
    }

    .page2 img {
        width: 90%;
        height: 95%;
    }






    .page3 {
        min-height: 100vh;
        width: 100%;
        /* background-color: salmon; */
        padding: 2vh 4vh;
    }

    .page3>h1 {
        color: #262626;
    }

    .page3-sub-heading {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-between;
        margin-top: 5px;

    }

    .page3-sub-heading p {
        width: 100%;
        color: #59595A;
    }

    .page3-sub-heading button {
        font-size: 2.5vh;
        padding: 1.7vw 3vw;
        border-radius: 4px;
        border: none;
        border-radius: 8px;
        background-color: #FCFCFD;

    }




    .page3-card-container {
        display: flex;
        /* flex-wrap: wrap; */
        flex-direction: column;
        /* background-color: red; */
        justify-content: space-evenly;
        align-items: center;
        margin-top: 6vw;
        gap: 2vw;
    }

    .page3-card {
        min-width: 95%;
        min-height: 38vh;
        background: var(--Absolute-White, #FFF);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 10px;
        padding: 1vw 1.5vw;
    }

    .page3-card h1 {
        text-align: end;
        font-size: 12vw;
        color: #262626;
    }

    .page3-card .card-detail h2 {
        color: #333333;
        margin-bottom: 1vw;
        font-size: 8vw;
    }

    .page3-card .card-detail p {
        color: #4C4C4D;
        width: 90%;
    }

    .page3-card .card-img {
        text-align: end;
        /* background-color: green; */
    }

    .page3-card img {
        width: 7vw;
    }



    .page4 {
        min-height: 100vh;
        width: 100%;
        /* background-color: salmon; */
        padding: 8vw 6vw;
    }

    .page4 h1 {
        font-size: 5vmax;
        /* background-color: green; */
    }

    .page4 .sub-heading {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-between;
        margin-top: 2vw;
    }

    .page4 .sub-heading p {
        width: 100%;
        color: #59595A;
        text-align: start;
    }

    .page4 .sub-heading button {
        font-size: 2.5vh;
        padding: 1.7vw 3vw;
        border-radius: 4px;
        border: none;
        border-radius: 8px;
        background-color: #FCFCFD;
    }



    .page4-card-container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 4vh;
        margin-top: 5vw;
    }

    .page4-card {
        min-height: 95vmin;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.651);
        padding: 2vw;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        gap: 1.6vh;

    }

    .page4-card .meta-data {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .meta-data .course-dets {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .meta-data .course-dets p {
        color: #4C4C4D;
        border-radius: 10px;
        border: 1px solid rgba(0, 0, 0, 0.354);
        padding: 0.5vmin 1vmin;
    }

    .meta-data h5 {
        font-size: 4.5vw;
    }

    .page4-card h2 {
        font-size: 5.9vmin;
    }

    .page4-card>p {
        color: #4C4C4D;
        font-size: 3.4vmin;
    }

    .page4-card button {
        width: 100%;
        font-size: 4vmin;
        border: none;
        border-radius: 7px;
        padding: 2vmin;
    }

}


@media only screen and (min-width: 601px) and (max-width: 1024px) {
    /* Your tablet styles here */

    .banner {
        background-color: #FF9500;
        color: #FFFFFF;
        width: 100%;
        height: 7vh;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2vw;
        gap: 1vh;

    }
}