* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body,
html {
    width: 100%;
    height: 100%;
    font-family: Be Vietnam Pro;
    background-color: #F7F7F8;

}

.banner {
    background-color: #FF9500;
    color: #FFFFFF;
    width: 100%;
    height: 7vh;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1vw;
    gap: 6vh;

}


.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: red; */
    padding: 10px 30px;
    width: 100%;
}

.nav-left {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
}

.nav-left img {
    background-color: #FF9500;
    border-radius: 10px;
    height: auto;
    width: 40px;
}

.navlinks {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6vw;
    text-transform: capitalize;

}

.navlinks li {
    list-style: none;
    color: #262626;

}

.gray-bg {
    border-radius: 6px;
    background: var(--White-95, #F1F1F3);
    padding: 1.2vw 2.3vw;
}


.nav-rigth {
    display: flex;
    align-items: center;
    justify-content: center;
}


.nav-right img {
    display: none;
}

/* .nav-right button {
    padding: 15px 30px;
    border: none;
    border-radius: 4px;
    background-color: #FF9500;
    text-transform: capitalize;
    font-size: 1vw;
    color: white;
} */

.primary-btn {
    padding: 15px 30px;
    border: none;
    border-radius: 4px;
    text-transform: capitalize;
    font-size: 15px;
    color: black;
    background-color: white;
}

.secondary-btn {
    padding: 15px 30px;
    border: none;
    border-radius: 4px;
    background-color: #FF9500;
    text-transform: capitalize;
    font-size: 15px;
    color: white;
}


/* Page1 */

.page1 {
    min-height: 66vh;
    width: 100%;
    /* background-color: crimson; */
    display: flex;
    justify-content: center;
    text-align: center;

}

.page1-content {
    /* background-color: green; */
    padding-top: 20vh;
    display: flex;
    flex-direction: column;
    gap: 0.9vw;
}

.page1-content h1 img {
    background-color: #FFF4E5;
    color: #262626;
    height: auto;
    width: 3vw;
}

.page1-content h1 {
    font-size: 3.4vw;
    display: flex;
    align-items: end;
    justify-content: center;
}

.page1-content h2 {
    color: #262626;
    font-size: 2vw;
}

.page1-content h3 {
    color: #262626c7;
    font-size: 1.8vw;
}

.page1-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
    margin-top: 3vw;

}

.page1-btn1 {
    font-size: 1.1vw;
    border: none;
    background-color: #FF9500;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    padding: 1.3vw 2vw;
}


.page1-btn2 {
    font-size: 1.1vw;
    border: none;
    background-color: whitesmoke;
    border-radius: 5px;
    color: #262626;
    font-weight: 500;
    padding: 1.3vw 2vw;
}

.yellow {
    color: #FF9500;
}

/* companies-banner */
.companies-banner {
    /* background-color: slateblue; */
    min-height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.banner-container {
    width: 90%;
    height: 20vh;
    background-color: white;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.banner-container img {
    height: auto;
    width: 7vw;

}

.banner-card {
    border-right: 1px solid #4C4C4D;
    /* background-color: red; */
    padding: 1vw 2vw;
}

.page2 {
    min-height: 100vh;
    width: 100%;
    /* background-color: salmon; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.page2 img {
    width: 90%;
    height: 95%;
}